* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #efefef;
}



.container {
  width: 100%;
  padding: 20px 32px;
}



.navbar {
  width: 100%;

  background: white;

  border-radius: 18px;
  border: 1px solid #d9d9d9;

  padding: 20px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}



.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  font-size: 30px;
}

.logo h2 {
  font-size: 42px;
  font-weight: 700;
}

.logo span {
  color: #39b86f;
}



.nav-links {
  display: flex;
  gap: 55px;

  list-style: none;

  font-size: 24px;
  color: #666;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #39b86f;
}



.btn-start {
  background: #b8e6c7;

  border: none;
  border-radius: 16px;

  padding: 16px 28px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.btn-start:hover {
  background: #a3ddb6;
}



.hero {
  width: 100%;

  margin-top: 35px;

  background: #557f5d;

  border-radius: 24px;

  min-height: 520px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px;
}



.hero-content {
  width: 100%;
  text-align: center;
}



.hero h1 {
  font-size: 82px;
  line-height: 1.2;

  color: #f2ffd8;

  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35);
}



.hero p {
  margin-top: 35px;

  font-size: 36px;
  line-height: 1.5;

  color: #98e56d;
}


.hero-left h1 {
  color: #0f172a !important;
  text-shadow: none !important;
}

.hero-left p {
  color: #475569 !important;
  font-size: 18px !important;
}



.features {
  margin-top: 45px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}



.feature-card {
  width: 320px;
  height: 230px;

  background: #d9eedc;

  border: 2px solid #4ea468;
  border-radius: 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;

  color: #168947;
}

.feature-card h3 {
  font-size: 34px;
  text-align: center;
}



.line {
  width: 110px;
  height: 2px;

  background: #4ea468;
}



@media (max-width: 1200px) {
  .hero h1 {
    font-size: 64px;
  }

  .hero p {
    font-size: 28px;
  }

  .feature-card {
    width: 260px;
    height: 200px;
  }

  .feature-card h3 {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .features {
    flex-direction: column;
    gap: 25px;
  }

  .line {
    width: 2px;
    height: 45px;
  }

  .hero h1 {
    font-size: 52px;
  }

  .hero p {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    gap: 20px;
    font-size: 18px;
  }

  .hero {
    min-height: auto;
    padding: 40px 25px;
  }

  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 18px;
  }

  .feature-card {
    width: 100%;
  }

  .logo h2 {
    font-size: 34px;
  }
}